<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Meadowlark</title>
        <meta name="description" content="A free open source DAW for Windows, Mac and Linux">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="images/meadowlark-logo-64.png">
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://api.fonts.coollabs.io">
        <link href="https://api.fonts.coollabs.io/css2?family=Fira+Sans:wght@400;500;700;800;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <img id="bg-mockup" src="images/gui-mockup.png"/>

        <nav>
            <div class="nav-group">
                <img class="nav-logo" src="images/meadowlark-logo-512.png">
                <ul class="nav-control-list">
                    <li><a href="#home" class="nav-control-link">Home</a></li>
                    <li><a class="nav-control-link">News</a></li>
                    <li><a href="#features" class="nav-control-link">Features</a></li>
                    <li><a class="nav-control-link">Download</a></li>
                </ul>
            </div>
            <div class="nav-group">
                <a href="https://discord.gg/2W3Xvc8wy4" class="nav-link-icon"><img src="images/discord-icon.png"></a>
                <a href="https://github.com/MeadowlarkDAW/Meadowlark" class="nav-link-icon"><img src="images/github-icon.png"></a>
            </div>
        </nav>
        <main>
            <section class="main-intro" id="home">
                
                <!--<div id="bg-block-top"></div>-->
                <h1 class="main-intro-title">Meadowlark</h1>
                <p class="main-intro-about">
                    Meadowlark is a (currently incomplete) project that aims 
                    to be a FREE and open-source DAW for Linux, Mac and Windows.
                </p>
                <div class="main-intro-buttons">
                    <a target="_blank" href="https://www.youtube.com/watch?v=iik25wqIuFo" id="main-intro-download">Download</a>
                    <a target="_blank" id="main-intro-docs">Documentation</a>
                </div>
            </section>

            <section class="roadmap" id="roadmap">
                <ul>
                {{range $.Site.Data.roadmap}}
                    <li class="roadmap-block {{if eq .importance "milestone"}} roadmap-milestone{{else}} roadmap-update{{end}}">
                        <div class="roadmap-block-description">
                            <h2>{{.title}}</h2>
                            <p>{{.description}}</p>
                        </div>
                        <span class="roadmap-block-status">Status: {{.status}}</span>
                        <p class="roadmap-block-time">{{.time_estimate}}</p>
                    </li>
                {{end}}
                </ul>
                
            </section>

            <section class="features" id="features">
                <div class="feature-block" id="feature">
                    <div id="bg-block-mid-1"></div>
                    <div class="feature-about">
                        <span class="feature-about-prompt">UPCOMING FEATURE</span>
                        <h2 class="feature-about-title">SOME HUGE FEATURE</h2>
                        <p class="feature-about-text">This is where you guys talk about a feature you really enjoyed developing and stuff. 
                            It is really cool because it is built by the community and it is really interesting.</p>
                    </div>
                    <img class="feature-image" src="images/flight.png">
                </div>
                <div class="feature-block">
                    <div id="bg-block-mid-2"></div>
                    <img class="feature-image" src="images/flight.png">
                    <div class="feature-about">
                        <span class="feature-about-prompt">AMAZING</span>
                        <h2 class="feature-about-title">AMAZING FEATURE!</h2>
                        <p class="feature-about-text">This is where you guys talk about a feature you really enjoyed developing and stuff. 
                            It is really cool because it is built by the community and it is really interesting.</p>
                    </div>
                </div>
                <div class="feature-block">
                    <div class="feature-about">
                        <span class="feature-about-prompt">AMAZING</span>
                        <h2 class="feature-about-title">AMAZING FEATURE!</h2>
                        <p class="feature-about-text">This is where you guys talk about a feature you really enjoyed developing and stuff. 
                            It is really cool because it is built by the community and it is really interesting.</p>
                    </div>
                    <img class="feature-image" src="images/flight.png">
                </div>
            </section>
        </main>
    </body>
</html>
