* {
    --accent-col: #f54e47;
    --bg-col: #141112;
    --bg-col-light: #211C1E;
}

body {
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
    background-color: var(--bg-col);
    color: white;
    overflow-x: hidden;
}

/*Change all link states to be white*/
a:link, a:visited, a:hover, a:active {
    color: #fff;
    text-decoration: none;
}


/*
===Navigation Bar===
*/

nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    margin-top: 1%;
}

.nav-group {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;

}

.nav-link-icon {
    margin-left: 15px;
    margin-right: 15px;
}

.nav-logo {
    width: 50px;
}

.nav-control-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: 15px;
}

.nav-control-list > li {
    margin-left: 30px;
}

/*
===BG Decorations
*/

/* The box-shadow was baked in by Figma */
#bg-mockup {
    position: absolute;
    top: 0;
    z-index: -3;
    width: 100vw;
    mask-image: linear-gradient(0deg, rgba(20,17,18,0.5) 18%, rgba(0,0,0,0.05) 100%);
}

#bg-block-top {
    position: absolute;
    z-index: -4;
    width: 70vw;
    height: 100vh;
    top: -50vh;
    left: -30vw;

    background: #141112;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
    transform: rotate(-150deg);
}

#bg-block-mid-1 {
    position: absolute;
    z-index: -2;
    background: var(--bg-col-light);

    width: 120vw;
    height: 80vh;

    transform:rotate(-15deg);
    top: -20vh;
    left: -32vw;
}

#bg-block-mid-2 {
    position: absolute;
    z-index: -2;
    background: var(--bg-col-light);

    width: 120vw;
    height: 80vh;

    transform:rotate(15deg);
    top: 0;
    left: -28vw;
}

/*
===Main Block===
*/

main {
    width: 60vw;
    margin: auto;
    z-index: 1;
}

.main-intro {
    position: relative;
    margin: auto;
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 500px;
}

.main-intro-title {
    font-style: normal;
    font-weight: 800;
    font-size: 6rem;
}

.main-intro-about {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    color: #B3B3B3;
}

.main-intro-buttons {
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    font-style: normal;
}

.main-intro-buttons > a {
    width: 45%;
    padding: 5px;
    margin: 10px;
}

#main-intro-download {
    background-color: var(--accent-col);
}

#main-intro-docs {
    background-color: var(--bg-col-light);
}

/*
===Roadmap===
*/

.roadmap-block:before {
    content: "";
    position: absolute;
    background-color: var(--bg-col-light);
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: rotate(2deg) translateY(1rem);
}

.roadmap-block {
    position: relative;
    display: grid;
    grid-template-columns: 40% 30% 30%;
    list-style-type: none;
    margin-bottom: 1rem;
    padding: 1rem;
}

.roadmap-block-description {
    grid-column-start: 1;
    grid-column-end: 1;

}

.roadmap-block-status {
    grid-column-start: 2;
    grid-column-end: 2;
    margin-top: auto;
    margin-bottom: auto;
}

.roadmap-block-time {
    grid-column-start: 3;
    grid-column-end: 3;
    margin: auto;
}

/*
===Features===
*/

.feature-block {
    position: relative;
    width: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0 15px 0;
}

.feature-about {
    width: 25vw;
}

.feature-image {
    max-width: 25vw;
    max-height: 40vh;
}

.feature-about-prompt {
    padding: 4px 20px 4px 20px;
    
    background-color: #3965FF;
    border-radius: 40px;

    font-weight: 900;
    font-size: 20px;
}

.feature-about-title {
    font-weight: 900;
    font-size: 32px;
}

.feature-about-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 190%;
}

