.dark {
    --background-main: var(--color-level-3);
    --background-secondary: var(--color-level-4);
    --background-tertiary: var(--color-level-5);
    --interactable-main: var(--color-level-8);
    --interactable-disabled: var(--color-level-6)
}

.light {
    --background-main: var(--color-level-9);
    --background-secondary: var(--color-level-8);
    --background-tertiary: var(--color-level-7);
    --interactable-main: var(--color-level-3);
    --interactable-disabled: var(--color-level-6)
}