* {
    --accent-col: #f54e47;
    --bg-col: #0F0F0F;
}

body {
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
    background-color: var(--bg-col);
    color: white;
}

nav {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
}

.nav-left {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

.nav-link-icon {
    margin-left: 15px;
    margin-right: 15px;
}

.nav-logo {
    width: 50px;
}

.nav-control-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left: 15px;
}

.nav-control-list > li {
    margin-left: 30px;
}

.nav-control-link:link, .nav-control-link:visited, .nav-control-link:hover, .nav-control-link:active {
    color: #fff;
    text-decoration: none;
}

.main-intro {
    margin: auto;
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-intro-title {
    font-style: normal;
    font-weight: 800;
    font-size: 6rem;
}

.main-intro-about {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 140.5%;
    color: #B3B3B3;
}

.main-intro-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-intro-buttons > a {
    width: 45%;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
}

#main-intro-download {
    background-color: var(--accent-col);
    padding: 5px;
    margin: 10px;
}

#main-intro-docs {
    padding: 5px;
    margin: 10px;
}

.feature-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 50px 0 50px 0;
}

.feature-about {
    width: 30vw;
}

.feature-image {
    max-width:  30vw;
}

.feature-about-prompt {
    padding: 4px 20px 4px 20px;
    background-color: #3965FF;
    border-radius: 40px;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
}

.feature-about-title {
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 48px;
}

.feature-about-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 190%;
}

