@font-face {
    font-family: Min Sans;
    src: url('/src/lib/assets/fonts/MinSansVF.ttf');
}

@font-face {
    font-family: SUIT;
    src: url('/src/lib/assets/fonts/SUIT-Variable.ttf');
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.15s ease-in-out;

    line-height: 1.5rem;
    font-family: "Inter", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: var(--text-idle);
    direction: ltr;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

html,
body {
    width: 100%;
    height: 100%;
}

:root {
    font-size: 16px;

    --accent-lighter: #ff6b6b;
    --accent-color: #FF3939;
    --accent-shaded: #d62323;
    --accent-shaded-darker: #911414;

    --secondary-color: #4292ed;

    --color-level-0: #000000;
    --color-level-1: #202020;
    --color-level-2: #222222;
    --color-level-3: #2C2C2C;
    --color-level-4: #3D3D3D;
    --color-level-5: #525252;
    --color-level-6: #7D7D7D;
    --color-level-7: #b8b8b8;
    --color-level-8: #dcdcdc;
    --color-level-9: #fff;

    --light-accent: #ffffff22;

    --header-color-1: #ff3939;
    --header-color-2: #4292ed;
}

.parallax-group {
    width: 100%;
    transform-style: preserve-3d;
}

.parallax-group.full {
    height: 100%;
}

.parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;
}

span {
    background: linear-gradient(to right,
            var(--accent-color),
            var(--secondary-color));
    background-clip: text;
    color: transparent;
    font-weight: 700;
    filter: brightness(125%);
}

a {
    text-decoration: none;
}